<% content_for :title, @post.title %>

<%= render "post", post: @post %>

<div class="card my-4">
  <div class="card-body">
    Discuss this with me on
      <a href="https://ruby.social/@bensheldon"><i class="bi bi-mastodon" style="margin-right: 0.2em"></i>Mastodon</a>,
      <a href="https://bensheldon.bsky.social"><i class="bi bi-bluesky" style="margin-right: 0.2em"></i>Bluesky</a>,
      or suggest a change on
      <a href="https://github.com/bensheldon/island94.org/blob/main/<%= @post.project_filepath %>" style="text-wrap: nowrap"><i class="bi bi-github" style="margin-right: 0.2em"></i>GitHub</a>.
  </div>
  <% if @post.related_posts.any? %>
    <hr>
    <div class="card-body">
      <h5>Related Posts</h5>
      <ul>
        <% @post.related_posts.each do |related_post| %>
          <li><%= link_to related_post.title, post_path(related_post) %></li>
        <% end %>
      </ul>
  <% end %>
  </div>
</div>
